
/* on the home page, hide the social media icons */
.home .VPSocialLinks {
  display: none;
}

.blogHeaderImage {
  width: 33.33%;
  height: auto;
}

.image-50-percent {
  width :50%;
  height: auto;
}